*.pyc
__pycache__/
*.sqlite3
.env
venv/
env/
.venv
staticfiles/
.DS_Store
.vscode/
.idea/
*.log
*.pot
.coverage
htmlcov/
dist/
build/
*.egg-info/
.pytest_cache/
db.sqlite3-journal
